html,
body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
} 

body {
	background: #fff;
	color: #000;
	font-family: "Source Sans Pro",sans-serif;
	font-size: 22px;
	line-height: 1.5;
}

*, :after, :before {
    box-sizing: border-box;
}

/*=======================Global Styles===========================*/

.page-center {
	float: none;
	max-width: 100%;
	margin: 0 auto;
}

::-moz-selection {
    color: #fff;
    background: #39f;
    text-shadow: none
}

::selection {
    color: #fff;
    background: #39f;
    text-shadow: none
}

strong {
	font-weight: bold;
}

hr {
	color: #ccc;
	background-color: #ccc;
	height: 1px;
	border: 0
}

.row-fluid:after,
.row-fluid:before {
    content: '';
    display: table;
    clear: both;
}

.visible-mobile {
    display: none;
}

/*================Header Styling=================*/

.cm-header-container {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    /* box-shadow: 0px 4px 5px -2px #ccc; */
}

.cm-header-container .page-center {
    padding: 0 15px;
}

.cm-header-container .custom-logo {
    width: 20%;
    float: left;
    padding-top: 35px;
    padding-bottom: 35px;
}

.custom-logo a {
    display: block;
}

.custom-logo img {
    max-width: 100%;
    display: block;
}

.custom-contact-area {
    width: 25%;
    float: right; 
    padding-top: 25px;
    padding-right: 0;
}

.cm-header-social {
    float: right;
}

.cm-header-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cm-header-social ul li {
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
}

.cm-header-social ul li a {
    display: block;
    padding: 5px;
    width: 43px;
    text-align: center;
    color: #fff;
    transition: all 300ms ease;
}

.cm-header-social ul li a:hover {
    color: #57b820;
}

.cm-header-contact {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
}


/*===================Menu Styling==================*/

.custom-menu-primary {
    width: 55%;
    float: left;
}

.cm-menu-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.custom-menu-primary ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.cm-menu-wrapper > ul:after,
.cm-menu-wrapper > ul:before {
    content: '';
    display: table;
    clear: both;
}

.cm-menu-wrapper > ul > li {
    float:left;
    position: relative;
}

.cm-menu-wrapper ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.cm-menu-wrapper > ul > li > a {
    padding: 10px;
    position: relative;
}


@media(min-width: 992px) {

    .menu-trigger {
        display: none;
    }

    .cm-menu-wrapper {
        display: flex !Important;
    }

    .cm-menu-wrapper > ul > li > a:after {
        content: '';
        position: absolute;
        top: 0;
        width: 0;
        transition: all 300ms ease;
        background-color: #57b820;
        display: block;
        left: 0;
        height: 5px;
    }

    .cm-menu-wrapper > ul > li:hover > a:after,    
    .cm-menu-wrapper > ul > li > a:hover:after {
        width: 100%;
    }

    .cm-menu-wrapper > ul ul {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 220px;
        transition: all 300ms ease;
        display: block !important;
        border-top: 5px solid #ffeb3b;
    }
    
    .cm-menu-wrapper > ul ul li a {
        color: #fff;
        padding: 10px;
        display: block;
        background-color: #000;
        transition: all 300ms ease;
        font-size: 15px;
    }
    
    .cm-menu-wrapper > ul ul li:hover a {
        background-color: rgba(255,255,255,1);
        color: #000;
    }
    
    .cm-menu-wrapper > ul ul li:last-child a {
        border: none;
    }
    
    .cm-menu-wrapper > ul li:hover > ul {
        opacity: 1;
        visibility: visible;
    }

}

@media(max-width: 991px) {

    .menu-trigger {
        overflow: hidden;
        padding: 0;
        width: 30px;
        height: 30px;
        font-size: 0;
        text-indent: -9999px;
        cursor: pointer;
        position: absolute;
        background: transparent;
        z-index: 1000;
        display: block;
        right: 209px;
        top: 19px;
    }

    .menu-trigger span {
        display: block;
        position: absolute;
        top: 13px;
        left: 0px;
        right: 0px;
        height: 3px;
        background: #eee;
        -webkit-transition: background 0s 0.3s;
        transition: background 0s 0.3s;
    }

    .menu-trigger span::before, 
    .menu-trigger span::after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #eee;
        content: "";
        -webkit-transition-duration: 0.3s, 0.3s;
        transition-duration: 0.3s, 0.3s;
        -webkit-transition-delay: 0.3s, 0s;
        transition-delay: 0.3s, 0s;
    }

    .menu-trigger span::before {
        top: -8px;
        -webkit-transition-property: top, -webkit-transform;
        transition-property: top, transform;
    }

    .menu-trigger span::after {
        bottom: -8px;
        -webkit-transition-property: bottom, -webkit-transform;
        transition-property: bottom, transform;
    }

    .menu-trigger span::before, 
    .menu-trigger span::after {
        -webkit-transition-delay: 0s, 0.3s;
        transition-delay: 0s, 0.3s;
    }

    .menu-open .menu-trigger span {
        background: none;
    }

    .menu-open .menu-trigger span::before {
        top: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition-delay: 0s, 0.3s;
        transition-delay: 0s, 0.3s;
    }

    .menu-open .menu-trigger span::after {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition-delay: 0s, 0.3s;
        transition-delay: 0s, 0.3s;
    }

    .cm-menu-wrapper {
        display: none;
        padding: 0;
        padding: 0;
        position: absolute;
        width: 100%;
        background: #000;
        top: 100%;
        left: 0;
    }

    .cm-menu-wrapper > ul li {
        float: none;
        border-bottom: 1px solid #ccc;
    }
    
    .cm-menu-wrapper ul li a {
        color: #fff;
        padding: 10px;
        display: block;
    }
    
    .child-trigger {
        display: block !important;
        cursor: pointer;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 45px !important;
        min-width: 45px !important;
        height: 44px !important;
        padding: 0 !important;
        color: #fff;
        text-align: center;
        border-left: 1px solid #ccc;
    }
    
    .child-trigger i {
        font-style: normal;
        line-height: 44px;
    }
    
    .child-trigger i:after {
        content: '+';
    }
    
    .child-open.child-trigger i:after {
        content: '-';
    }

    .cm-menu-wrapper > ul ul {
        border-top: 1px solid #ccc;
    }

    .cm-menu-wrapper > ul ul li:last-child {
        border: none;
    }

    .cm-menu-wrapper > ul ul li a {
        padding-left: 30px;
    }

}


/*======================Body Styling======================*/

video#myVideo {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.cm-banner-container {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.cm-video-cover {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Images/Video Cover.png');
    background-size: cover;
}

.cm-content {
    position: relative;
    z-index: 11;
    display: flex;
    height: calc(100vh - 86px);
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
}

.cm-content h1 {
    font-size: 80px;
    color: #fff;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15px 0;
}

.cm-content p {
    color: #fff;
    margin: 0;
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
}

/*============Parallax Scrolling Styling=================*/

.cm-par-cont {
    height: 300vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.cm-par-title {
    width: 50%;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 !Important;
    color: #fff;
    background-size: center;
    background-position: center;
    background-image: url('Images/pexels-photo-1895238.jpeg');
}

.cm-about-title {
    background-image: url('Images/pexels-photo-927022.jpeg');
}

.cm-think-title {
    background-position: center top;
    background-image: url('Images/pexels-photo-941555.jpeg');
}

.cm-par-title > div:first-of-type {
    position: relative;
    z-index: 11;
}

.cm-par-title h2 {
    font-size: 50px;
}

.cm-par-title p {
    font-size: 35px;
    line-height: 30px;
}

.cm-par-pages {
    width: 50%;
    position: relative;
}

.cm-par-pages > div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 0 15px;
}

.cm-par-pages > div > p {
    width: 80%;
    font-size: 35px;
    line-height: 30px;
}

.cm-par-pages > div h2 {
    font-size: 50px;
}

.cm-par-pages > div {
    background-size: cover;
}

section.cm-par-cont .video-par {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    right: 0;
}

section.cm-par-cont .video-par.cm-video-left {
    right: auto;
    left: 0;
}

section.cm-par-cont > div {
    z-index: 11;
}

section.cm-par-cont .video-par video {
    height: 300vh;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
}


/*===============Team Section Styling=======================*/

div#cm-people {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
    padding: 0 15px;
}

.team-member {
    display: inline-block;
    width: 33.33%;
    margin: 0;
    padding: 0;
    position: relative;
    background-size: cover;
    will-change: transform;
    -webkit-transition: all 1.5s cubic-bezier(.18,1,.21,1);
    -moz-transition: all 1.5s cubic-bezier(.18,1,.21,1);
    transition: all 1.5s cubic-bezier(.18,1,.21,1);
}

.team-member img {
    display: block;
    margin: 0;
    padding: 0;
    width: 70%;
    -webkit-transition: all .9s cubic-bezier(.18,1,.21,1);
    -moz-transition: all .9s cubic-bezier(.18,1,.21,1);
    transition: all .9s cubic-bezier(.18,1,.21,1);
}

.team-member .info {
    position: absolute;
    top: 70px;
    width: 50%;
    left: 50%;
    border: 3px solid #9f8f68;
    padding: 40px;
    text-align: left;
    z-index: 2;
}

.team-member .info h5 {
    font-weight: 400;
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 2px;
}

.team-member .info h4 {
    margin: 0 0 20px;
    font-size: 25px;
    line-height: 35px;
}

.team-member:nth-child(even) {
    padding-bottom: 10px;
}

.team-member:nth-child(3n+1) {
    padding-bottom: 30px;
    padding-top: 30px;
}

h2.cm-section-head {
    font-size: 65px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
}

/*===============Contact Section Styling====================*/

.cm-contact-section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
}

.cm-contact-section .cm-left-col {
    -ms-flex: 1;
    flex: 1;
    max-width: 50vw;
}

.cm-contact-inner {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 80px;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.cm-contact-top h2 {
    font-size: 76px;
    color: #000;
    line-height: 80px;
    margin-top: 0;
    margin-bottom: 16px;
}

.cm-contact-top p {
    margin-bottom: 72px;
    max-width: 560px;
    font-size: 19px;
    line-height: 32px;
    color: #000;
}

.cm-contact-info h4 {
    margin-top: 0;
    color: #000;
    line-height: 32px;
    margin-bottom: 12px;
    font-size: 28px;
}

.cm-contact-info p {
    font-size: 19px;
    line-height: 32px;
    color: #000;
    margin: 0;
}

.cm-contact-info p a {
    color: #57b820;
}

.cm-contact-section .cm-right-col {
    background: #57b820;
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    bottom: 0;
    width: 50%;
}

.cm-contact-title {
    padding: 80px;
}

.cm-contact-title h2 {
    font-size: 76px;
    color: #fff;
    margin-top: 0;
    line-height: 80px;
    margin-bottom: 16px;
}

.cm-contact-title p {
    margin-top: 0;
    margin-bottom: 20px;
    max-width: 560px;
    color: #fff;
    font-size: 19px;
    line-height: 32px;
}

.cm-contact-title p a {
    cursor: pointer;
    transition: all .25s ease-in-out;
    display: inline-block;
    outline: none;
    text-decoration: none;
    position: relative;
    padding: 0 2px;
    line-height: 1.6;
    color: #fff;
}

.cm-contact-title p a span {
    display: block;
    position: relative;
    z-index: 2;
}

.cm-contact-title p a:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    right: 0;
    transform: translate3d(0,0,0);
    transition: all .4s;
    transition-timing-function: cubic-bezier(.7,0,.3,1);
    border-radius: 2px;
    background: rgba(255,255,255,.5);
}

.cm-contact-title p a:hover:after {
    height: 100%;
    background: rgba(255,255,255,.25);
    border-radius: 4px;
}

.cm-contact-title p svg {
    margin-left: 8px;
}

.cm-contact-title p a:hover svg path {
    fill: #fff;
    transition: all .4s;
    transition-timing-function: cubic-bezier(.7,0,.3,1);
}

.cm-contact-title p a svg path {
    transition: all .4s;
    transition-timing-function: cubic-bezier(.7,0,.3,1);
}

.cm-contact-section form input, 
.cm-contact-section form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    outline: none;
    font-family: "Source Sans Pro",sans-serif;
    color: #000;
    letter-spacing: 1px;
}

.cm-contact-section form input[type="submit"] {
    width: auto;
    cursor: pointer;
    display: inline-block;
    padding: 15px 20px;
    font-family: "Source Sans Pro",sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    border: none;
    color: #57b820;
    background-color: #fff;
    outline: none;
}

.cm-contact-section form {
    padding-bottom: 20px;
}

.cm-contact-section form textarea {
    min-height: 80px;
}


.ripple {
    box-shadow: 0 0 4px #999;
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #aed581 radial-gradient(circle, transparent 1%, #aed581 1%) center/15000%;
}

.ripple:active {
    background-color: #57b820;
    background-size: 100%;
    transition: background 0s;
}

/*=====================Career Styling=================*/

.cm-career-section {
    padding: 50px 15px;
}

.cm-career-section > h2,
.cm-career-section > p {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cm-career-pt {
    position: relative;
    max-width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    min-height: 70vh;
}

.cm-career-section .bg {
    height: 50vh;
    position: absolute;
    background-repeat: no-repeat;
}

.cm-career-section .bg-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #57b820;
}

.bg-man {
    background-image: url('Images/standing-man-2-201x300.png');
    width: 200px;
}

.cm-career-pt h2,
.cm-career-pt p {
    position: relative;
    z-index: 11;
}

.cm-career-pt1 .bg-circle {
    right: 40px;
    top: 40px;
}

.cm-career-pt1 .bg-man  {
    right: 30px;
    top: 5px;
}

.strike-line:after {
    content: '';
    width: 20px;
    height: 160px;
    background-color: #ffeb3b;
    display: block;
    position: absolute;
    transform: rotate(30deg);
}

.strike-line.line2:after {
    transform: rotate(-30deg);
}

.cm-career-pt1 .line1:after {
    top: -60px;
    left: 30%;
} 

.cm-career-pt2 .bg-hier {
    left: 30px;
    top: 5px;
    width: 300px;
    background-image: url('Images/Download-Team-PNG-HD.png');
    background-size: cover;
}

.cm-career-pt2 .bg-circle {
    left: 40px;
    top: 40px;
}

.cm-career-pt.right h2,
.cm-career-pt.right p {
    float: right;
    clear: both;
} 

.cm-career-pt2 .line1:after {
    right: 0;
    left: unset;
}

.cm-career-pt2 .line2:after {
    right: 30%;
    left: unset;
}

.cm-career-pt3 .bg-hunger {
    right: 30px;
    top: 35px;
    width: 300px;
    background-size: cover;
    background-image: url('Images/pngfind.com-business-girl-png-1466390.png');
}

.cm-career-pt3 .bg-circle {
    right: 40px;
    top: 40px;
}

.cm-career-pt3 .line1:after {
    right: unset;
    left: 0;
    transform: rotate(10deg)
}

.cm-career-pt3 .line2:after {
    left: 20%;
    right: unset;
    top: -30px;
    transform: rotate(60deg)
}

.cm-career-pt4 .bg-exp {
    width: 350px;
    background-size: cover;
    background-image: url('Images/ok-guy.png');
}

.cm-career-pt4 .line1:after {
    right: 10%;
    left: unset;
    transform: rotate(120deg);
}

.cm-career-pt4 .line2:after {
    right: 50%;
    left: unset;
    transform: rotate(10deg);
}

.cm-btn {
    text-align: center;
    padding: 20px 0;
}

.cm-btn a {
    display: inline-block;
    background-color: #57b820;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    border: 1px solid #57b820;
    transition: all 300ms ease;
}

.cm-btn a:hover {
    background: #fff;
    color: #000;
}


/*================Footer Styling==================*/

#footer {
    background-color: #57b820;
    color: #fff;
    padding: 40px 15px;
    text-align: center;
}

#footer p {
    margin: 0;
}


/*==============Media Queries=================*/


@media(min-width: 768px) {

    .hidden-mobile {
        display: block;
    }
}

@media(max-width: 1050px) {

    .cm-header-social ul li a {
        padding: 3px;
        width: 38px;
    }

    .cm-people-container .team-member {
        width: 50%;
    }

    .cm-people-container h2 {
        margin-bottom: 0;
    }

    .side-open .cm-header-form {
        top: 72px; 
        height: calc(100vh - 72px);
    }

    .cm-form-col h2, .cm-latest-news-col h2 {
        font-size: 40px;
        padding-top: 10px;
    }

    .cm-career-pt {
        max-width: 90%;
        overflow: hidden;
    }

    .cm-menu-wrapper > ul > li > a {
        padding: 10px 8px;
    }

}


@media(max-width: 991px) {

    .cm-header-container .custom-logo {
        width: 30%;
        float: none;
        display: inline-block;
        padding: 20px 0;
    }
    
    .custom-logo a {
        max-width: 100%;
    }
    
    .custom-contact-area {
        width: 35%;
        float: none;
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px 0;
        z-index: 9;
    }
    
    .cm-header-social {
        float: none;
        text-align: right;
        padding-right: 15px;
    }
    
    .cm-header-social ul li a {
        width: 36px;
        line-height: 30px;
    }
    
    .cm-header-contact {
        width: 46px;
        height: 42px;
    }

    .side-open .cm-header-form {
        top: 70px;
        height: calc(100vh - 70px); 
        display: block;
    }

    .side-open .cm-header-form > div {
        width: 100%;
    }
    
    .cm-header-form .cm-form-col {
        border-bottom: 4px solid #57b820;
    }

    .cm-content h1 {
        font-size: 65px;
    }

    .cm-people-container .team-member {
        transform: none !important;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 15px 0;
    }
    
    .team-member img {
        width: 50%;
        height: auto;
    }
    
    .team-member .info {
        position: static;
    }
    
    .cm-people-container .team-member:nth-child(even) {
        flex-flow: column-reverse;
    }
    
    div#cm-people {
        padding-bottom: 30px;
    }
    
    .cm-people-container h2 {
        margin-top: 0;
    }
    
    div#people {
        padding: 50px 0;
    }

    section.cm-par-cont .video-par {
        display: none;
    }

    .cm-par-cont {
        height: auto;
        display: block;
    }
    
    .cm-par-title {
        width: 100%;
        height: auto;
        padding: 20px 15px;
    }
    
    .cm-par-pages {
        width: 100%;
        display: flex;
    }
    
    .cm-par-title h2 {
        font-size: 40px;
    }
    
    .cm-par-title p {
        font-size: 22px;
    }
    
    .cm-par-pages > div {
        height: auto;
        display: block;
    }
    
    section#do {
        display: flex;
        flex-flow: column-reverse;
    }

    .cm-header-container {
        min-height: 70px;
    }

    .cm-career-pt4 .bg-exp {
        width: 300px;
        background-size: contain;
        left: 0;
    }

    .cm-career-section > h2, 
    .cm-career-section > p {
        max-width: 100%;
        padding: 0 15px;
    }
    
    .cm-career-section > h2 {
        font-size: 40px;
    }

    .cm-contact-inner,
    .cm-contact-title {
        padding: 40px 40px 120px;
        min-height: auto;
    }

    .cm-contact-top h2,
    .cm-contact-title h2 {
        font-size: 50px;
    }

}

@media(max-width: 900px) {

    .cm-par-pages > div h2 {
        font-size: 35px;
    }

    .cm-par-pages > div p {
        font-size: 18px;
    }

}

@media(max-width: 767px) {

    .visible-mobile {
        display: block;
    }

    .hidden-mobile {
        display: none;
    }

    .cm-mobile-banner-bg {
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    
    .cm-content {
        display: block;
        height: auto;
        padding: 180px 15px 15px;
    }

    .cm-content p {
        max-width: 100%;
    }

    .cm-content h1 {
        font-size: 40px;
    }

    .cm-header-container {
        height: 60px;
    }

    .side-open .cm-header-form {
        top: 60px;
        height: calc(100vh - 60px);
    }

    .form-group-2 .form-group {
        width: 100%;
        float: none;
    }

    .custom-contact-area {
        width: 80%;
    }
    
    .cm-par-pages {
        display: block;
    }
    
    .cm-par-pages > div h2 {
        margin: 0;
    }
    
    .cm-par-pages > div {
        padding: 20px 15px;
    }

    .custom-logo img {
        display: block;
        min-width: 150px;
        width: 100%;
        max-width: none;
    }

    h2.cm-section-head {
        font-size: 50px;
    }

    .cm-career-pt4 .bg-exp {
        width: 300px;
        background-size: contain;
        left: 0;
    }
    
    .strike-line {
        display: none;
    }
    
    .cm-career-pt.right h2, .cm-career-pt.right p {
        float: none;
    }
    
    .cm-career-section .bg {
        display: none;
    }
    
    .cm-career-pt {
        min-height: unset;
        padding: 15px;
        border: 3px solid #57b820;
        margin-bottom: 20px;
        max-width: 71%;
        margin-left: 0;
        margin-right: auto;
        text-align: center;
    }
    
    .cm-career-pt h2, .cm-career-pt p {
        margin: 0;
    }
    
    .cm-career-pt:nth-child(even) {
        margin-left: auto;
        margin-right: 0;
    }
    
    .cm-btn {
        padding-top: 20px;
    }

    .cm-career-section > h2,
    .cm-career-pt h2 {
        font-size: 30px;
    }

    #footer p {
        font-size: 18px;
    }

    .cm-header-container .custom-logo {
        position: relative;
        z-index: 10;
    }

    .custom-logo img {
        width: auto;
        max-width: none;
        max-height: 21px;
        height: 100%;
    }

    .cm-header-social ul li {
        margin: 0;
    }
    
    .cm-header-social ul li a {
        font-size: 17px;
        width: 30px;
    }
    
    .menu-trigger {
        right: 159px;
    }

    .cm-contact-section {
        display: block;
    }
    
    .cm-contact-section .cm-left-col {
        max-width: 100%;
    }
    
    .cm-contact-section .cm-right-col {
        position: static;
        width: 100%;
    }
    
    .cm-contact-inner, .cm-contact-title {
        padding: 20px 15px;
        min-height: unset;
    }
    
    .cm-contact-top p {
        margin-bottom: 25px;
    }
    
    .cm-contact-top h2, .cm-contact-title h2 {
        font-size: 40px;
        line-height: 1.5;
    }

} 

@media(max-width: 500px) {

    .cm-header-container .custom-logo {
        width: 100%;
        text-align: center;
        padding: 15px 0;
    }

    .custom-logo a {
        max-width: 100%;
        margin: 0 auto;
    }

    .custom-logo img {
        display: inline-block;
    }
    
    .menu-trigger {
        top: 40px;
        right: 20px;
    }
    
    .custom-contact-area {
        width: 100%;
        position: static;
        padding: 0;
    }
    
    .cm-header-social {
        text-align: center;
        padding: 0;
    }

    .cm-header-container {
        min-height: 110px;
    }

    .team-member .info h4 {
        font-size: 15px;
    }

    .cm-content h1 {
        font-size: 27px;
    }

    .team-member .info h4 {
        font-size: 15px;
    }

    .cm-banner-container {
        height: 80vh;
    }
    
    .cm-content p {
        font-size: 18px;
    }

    h2.cm-section-head {
        font-size: 40px;
    }

    .cm-people-container .team-member:nth-child(odd) {
        flex-flow: column;
    }

    .team-member .info {
        position: static;
        width: 90%;
    }

    .team-member img {
        width: 90%;
    }

    .menu-trigger {
        width: 32px;
        height: 38px;
    }

    .cm-career-section > h2,
    .cm-career-pt h2 {
        font-size: 25px;
    }

    .cm-career-section > p,
    .cm-career-pt p {
        font-size: 18px;
    }

    .cm-career-pt {
        max-width: 90%;
        margin: 0 auto 20px !IMPORTANT;
    }

} 