html,
body {
	min-height: 100%;
	margin: 0;
	padding: 0; 
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	background: #fff;
	color: #000;
	font-family: 'Roboto Slab', serif;
	font-size: 22px;
	line-height: 1.5;
}

*, :after, :before {
    box-sizing: border-box;
}

/*=======================Global Styles===========================*/

.page-center {
	float: none;
	max-width: 100%;
	margin: 0 auto;
}

::-moz-selection {
    color: #fff;
    background: #39f;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #39f;
    text-shadow: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
    margin: 15px 0;
}

p {
    margin: 10px 0;
}

strong {
	font-weight: bold;
}

hr {
	color: #ccc;
	background-color: #ccc;
	height: 1px;
	border: 0
}

.row-fluid:after,
.row-fluid:before {
    content: '';
    display: table;
    clear: both;
}

.visible-mobile {
    display: none;
}


/*==================Banner Styling=======================*/

.cm-banner-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.cm-banner-container .cm-video-container {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 100%;
}

.cm-banner-content h1 {
    margin: 0;
}

.cm-banner-container video#myVideo {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cm-banner-container .cm-banner-content {
    position: relative;
    z-index: 9;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 180px;
}

.cm-banner-container .cm-banner-content h1 {
    color: #fff;
    font-size: 75px;
    text-align: center;
    position: relative;
    z-index: 9;
    padding-left: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.cm-banner-content > img {
    position: relative;
    z-index: 10;
    width: 280px;
    position: absolute;
    top: 20px;
    left: 80px;
}

.cm-skew-bg {
    position: absolute;
    top: 0;
    left: -80px;
    width: 50%;
    height: 100%;
    background-color: rgba(87, 185, 32,0.9);
    transform: translateX(0) skewX(14deg);
    -webkit-transition: transform 0.5s ease-out;
    -moz-transition: transform 0.5s ease-out;
    -ms-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    opacity: 0.9;
}

.cm-alexa-img {
    position: absolute;
    bottom: 0px;
    right: 80px;
}

.cm-alexa-img img {
    height: 80vh;
    animation: img-move 5000ms infinite ease; 
}

@keyframes img-move {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }

}

.circle-ripple {
    background-color: #ebebeb;
    width: 0.5px;
    height: 0.5px;
    border-radius: 50%;
    animation: ripple 1s linear infinite;
    transform: translateY(-50%);
    position: absolute;
    left: calc(50% - 0px);
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(179, 179, 179, 0.3), 0 0 0 1em rgba(179, 179, 179, 0.3), 0 0 0 3em rgba(179, 179, 179, 0.3), 0 0 0 5em rgba(179, 179, 179, 0.3);
   }
    100% {
        box-shadow: 0 0 0 1em rgba(179, 179, 179, 0.3), 0 0 0 3em rgba(179, 179, 179, 0.3), 0 0 0 5em rgba(179, 179, 179, 0.3), 0 0 0 8em rgba(179, 179, 179, 0);
   }
}

.cm-video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
}


/*==================Timeline Section Styling===============*/

.cm-timeline-section {
    padding: 100px 15px;
    background-color: #fff;
}

.cm-timeline-section h1 {
    text-align: center;
    letter-spacing: 2px;
    color: #333;
    font-size: 65px;
    padding-bottom: 50px;
}

.cm-timeline-container .cm-timeline-item {
    width: calc(33.33% - 30px);
    float: left;
    margin-left: 30px;
}

.cm-timeline-img .cm-timeline-bg {
    padding-bottom: 72%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cm-timeline-item .cm-timeline-content {
    padding-top: 45px;
    position: relative;
}

.cm-timeline-content .cm-timeline-year {
    font-size: 36px;
    line-height: 36px;
    color: #333;
    display: table;
    letter-spacing: -1px;
    padding-right: 10px;
    background-color: #fff;
    z-index: 1;
    position: relative;
    margin: -15px 0 20px;
    font-weight: 900;
}

.cm-timeline-content .cm-timeline-year:after {
    content: "";
    position: absolute;
    display: block;
    left: -10px;
    top: 0;
    height: 100%;
    width: 10px;
    background-color: #fff;
    z-index: 3;
}

.cm-timeline-content h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
}

.cm-timeline-item .cm-timeline-content:after {
    position: absolute;
    width: 100%;
    top: 45px;
    left: 0;
    content: "";
    border-bottom: 1px solid rgba(0,0,0, 0.5);
}

.cm-timeline-content .cm-timeline-pointer {
    height: 39px;
    position: absolute;
    z-index: 1;
    display: block;
    top: 42px;
    left: 50%;
    transform: translateX(-50%);
    width: 9px;
}

.cm-timeline-content .cm-timeline-pointer:before, 
.cm-timeline-content .cm-timeline-pointer:after {
    content: '';
    position: absolute;
}

.cm-timeline-content .cm-timeline-pointer:before {
    width: 1px;
    height: 100%;
    top: 0;
    left: 4px;
    background-color: #b38c52;
}

.cm-timeline-content .cm-timeline-pointer:after {
    width: 9px;
    height: 9px;
    border-radius: 100%;
    top: 0;
    left: 0;
    background-color: #b38c52;
}

/*===============Voice Section Styling=================*/

.cm-voice-section .cm-voice-container {
    z-index: 10;
    background-image: url(Images/voice-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px 0px;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    background-attachment: fixed;
}

.cm-voice-container .cm-col {
    position: relative;
    z-index: 10;
}

.cm-voice-container .cm-left-col {
    width: 40%;
    padding: 0 15px;
}

.cm-voice-container .cm-right-col {
    width: 50%;
    right: 0;
    top: 0;
}

.cm-voice-container .cm-left-col img {
    width: 80px;
    float: left;
}

.cm-voice-container .cm-left-col h2 {
    color: #fff;
    margin: 0;
    width: calc(100% - 80px);
    float: left;
    padding-left: 15px;
    font-size: 40px;
}

.cm-voice-section {
    overflow: hidden;
}

.cm-voice-section .cm-skew-bg {
    z-index: 4;
    right: -6%;
    left: unset;
    transform: translateX(0) skewX(-14deg);
}

.cm-voice-container .cm-right-inner .cm-alexa-mid {
    position: absolute;
    left: -25%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}

.cm-voice-content {
    position: relative;
    z-index: 10;
    padding-left: 20%;
    padding-right: 15px;
}


/*==============Voice Brand Section Styling===============*/



.cm-voice-brand-container {
    padding: 0 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cm-voice-brand-bg {
    width: 40%;
    background-image: url(Images/output-onlinepngtools.png);
    background-size: contain;
    background-position: top;
    min-height: 500px;
    background-repeat: no-repeat;
}

.cm-voice-brand-container .cm-voice-brand-content {
    width: 60%;
    padding-left: 15px;
}

.cm-voice-brand-container p {
    text-align: justify;
    font-size: 25px;
    line-height: 2;
}

.cm-voice-brand-quote {
    max-width: 60%;
    margin: 0 auto;
    font-size: 30px;
    text-align: justify;
    position: relative;
    padding: 0 15px 30px;
}

.cm-voice-brand-quote h3,
.cm-voice-brand-quote p {
    position: relative;
    z-index: 10;
}

.cm-quote-bg.invert {
    right: 0;
    left: unset;
    bottom: 60px;
    top: unset;
    transform: rotate(180deg);
}


.cm-quote-bg {
    background-image: url(Images/quotation-mark-left-md.png);
    width: 76px;
    height: 76px;
    background-size: contain;
    position: absolute;
    left: -80px;
    top: -20px;
    background-repeat: no-repeat;
    z-index: 1;
}

/*=============Conversation Section Styling==============*/

.cm-conv-section {
    height: 100vh;
    background-size: cover;
    position: relative;
    background-position: bottom;
    background-image: url(https://images.pexels.com/photos/273238/pexels-photo-273238.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-attachment: fixed;
}

/* .cm-conv-section .cm-video-overlay {
    background-color: rgba(255,255,255,0.4);
} */

.cm-chatbox-container {
    position: absolute;
    width: 50%;
    height: 100px;
    z-index: 10;
    top: 60px;
    right: 0;
}

.cm-conv-section .cm-chatbox-bg {
    background-image: url(Images/kathy.png);
    width: 100px;
    height: 84px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    float: left;
}

.cm-conv-section .cm-chatbox-bg:after {
    content: '';
    width: 94px;
    height: 91px;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 0;
    left: 2px;
    border: 11px solid #fff;
}

.cm-chatbox-container .cm-chatbox-msg {
    width: 320px;
    float: left;
    background-color: #fff;
    padding: 10px;
    position: relative;
    top: 18px;
}

.cm-chatbox-msg .line {
    position: relative;
    width: 0;
    margin: 0;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 20px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;  
}

/* Animation */
.conv-active .anim-typewriter{
    animation: typewriter 4s steps(44) 100ms 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 290px;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(0,0,0,.75);}
    to{border-right-color: transparent;}
}

.cm-alexa-container {
    position: absolute;
    bottom: 3%;
    left: 15%;
    z-index: 10;
    color: #fcfeff;
}

.animation-container{
  width: 100px;
  height: 30px;
  position: absolute;
  top: -60px;
  left: 120px;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.conv-active .animation-container {
  animation: load-hide 1000ms 1 ease;
  animation-delay: 4100ms;
}

@keyframes load-hide {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.sound-container {
  position: relative;
  width: 150px;
  height: 100%;
  display: inline-block;
  margin-left: 4px;
}
  
.animation-container .sound-container>div {
  position: relative;
  height: 100%;
  width: 10px;
  background: #540D6E;
  display: inline-block;
  animation: wave 3s infinite ease-in-out;
  -webkit-animation: wave 3s infinite ease-in-out;
}

.animation-container .sound-container .rect-2 {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

.animation-container .sound-container .rect-3 {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
 
.animation-container .sound-container .rect-4 {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}
  
.animation-container .sound-container .rect-5 {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
  
.animation-container .sound-container .rect-6 {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}  

@keyframes wave {
  0%{
    transform: scaleY(1);
    background: #fff;
}
  16.67% {
    transform: scaleY(3);
    background: #2655eb;
}
  33.33% {
    transform: scaleY(1);
    background: #fff;
}
  50% {
    transform: scaleY(3);
    background: #2655eb;
}
  66.67% {
    transform: scaleY(1);
    background: #fff;
}
  83.34% {
    transform: scaleY(3);
    background: #2655eb;
}
100% {
    transform: scaleY(1);
    background: #fff;
}
}

.cm-conv-section .cm-conv-btn {
    position: absolute;
    bottom: 50%;
    right: 30%;
    z-index: 10;
}

.cm-conv-btn a {
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    position: relative;
    display: block;
    padding: 14px 15px;
    color: #fff;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    transition: opacity 1s ease;
    border: 2px solid #57b820;
    opacity: 0;
    visibility: hidden;
}

.btn-active.cm-conv-btn a {
    opacity: 1;
    visibility: visible;
}

/* .conv-active .cm-conv-btn a {
    animation: btn-show 1000ms 1 ease;
    animation-delay: 5000ms;
}
  
  @keyframes btn-show {
      0% {
          opacity: 0;
      }
      100%{
          opacity: 1;
      }
  }
   */

.conv-active .cm-conv-btn a span {
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    background: #57b820;
    transform: translateX(-50%) translateY(-50%) rotate(25deg);
    transition: all 0.75s linear;
    transition-delay: 1000ms;
}

.btn-active.cm-conv-btn a span {
    height: 450%;
    opacity: 1;
}


/*==========Thoughts Section Styling=================*/

.cm-thoughts-section {
    padding: 50px 0 0;
    position: relative;
}

.cm-thoughts-section h2 {
    text-align: center;
    letter-spacing: 2px;
    color: #333;
    font-size: 65px;
    padding: 0 15px 50px;
}

.cm-thoughts-inner {
    padding: 0 15px 0px;
    position: relative;
    display: flex;
}

.cm-thoughts-inner .cm-col {
    width: 33.33%;
    float: left;
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.cm-thoughts-inner .cm-col-mid {
    background-image: url(Images/thought-mid.JPG);
    background-repeat: no-repeat;
    height: 471px;
    background-size: contain;
    background-position: bottom;
}

.cm-thoughts-inner .cm-col p {
    max-width: 60%;
    margin: 0 auto;
}

.cm-mobile {
    display: none !important;
}


/*=================Client Activation Section Styling================*/

.cm-client-section {
    position: relative;
}

.cm-client-section .cm-client-content {
    background-image: url(Images/clientactivation-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px 15px;
    position: relative;
    min-height: 50vh;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.cm-client-content h2,
.cm-client-content img {
    position: relative;
    z-index: 10;
}

.cm-client-content .cm-video-overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

.cm-client-content h2 {
    font-size: 40px;
    letter-spacing: 2px;
    color: #fff;
    padding-left: 30px;
    text-transform: uppercase;
}

.cm-client1-section {
    padding: 50px 15px;
}

.cm-client1-section h2 {
    text-align: center;
    letter-spacing: 2px;
    color: #333;
    font-size: 65px;
    padding-bottom: 50px;
}

.cm-client1-content p {
    width: 60%;
    margin: 0 auto 10px;
}

.cm-client-img-container {
    padding: 20px 0;
    text-align: center;
}

.cm-client-img-container img {
    vertical-align: middle;
}

.cm-client-service {
    width: 80%;
    margin: 0 auto;
}

.cm-client-service .cm-service-item {
    width: 20%;
    float: left;
    text-align: center;
    position: relative;
}

.cm-client-service .cm-service-item:before {
    content: '';
    position: absolute;
    height: 90px;
    width: 1px;
    background-color: #ccc;
    left: -1%;
    top: 20px;
}

.cm-client-service .cm-service-item:first-child:before {
    content: none;
}

.cm-client-service .cm-service-item h5 {
    margin-bottom: 0;
    font-size: 15px;
}


/*=================Footer Styling=====================*/

footer {
    padding: 30px 15px;
    background-color: #f7f7f7;
    position: relative;
}

.cm-social-container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.cm-social-icons {
    padding: 0;
    list-style: none;
    margin: 0;
}
.cm-social-icons li {
    display: inline-block;
    margin: 0 0.15em;
    position: relative;
    font-size: 1.2em;
}
.cm-social-icons i {
    color: #fff;
    position: absolute;
    top: 18px;
    left: 18px;
    transition: all 265ms ease-out;
}
.cm-social-icons a {
    display: inline-block;
}
.cm-social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #ff003c, #c648c8);
    background-image: linear-gradient(to right, rgb(142, 167, 114), rgb(96, 224, 20));
    transition: all 265ms ease-out;
}
.cm-social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}
.cm-social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: rgb(96, 224, 20);
    background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
    background-image: linear-gradient(to right, rgb(142, 167, 114), rgb(96, 224, 20));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}

footer p {
    text-align: center;
    margin-bottom: 0;
}

#back-to-top {
    position: absolute;
    transform: translateY(-50%);
    width: 60px;
    bottom: 10px;
    height: 60px;
    right: 15px;
    background-color: rgba(87, 185, 32,0.9);
    border-radius: 10px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*==================Media Queries=====================*/


@media(max-width: 1200px) {

    .cm-banner-container .cm-banner-content h1 {
        font-size: 60px;
    }

    .cm-voice-section .cm-skew-bg {
        width: 70%;
        right: -9%;
    }

    .cm-voice-container .cm-right-col {
        width: 60%;
    }
    
    .cm-voice-content {
        padding-left: 30%;
    }

    .cm-banner-content > img {
        left: 30px;
    }

    .cm-conv-section .cm-conv-btn {
        right: 26%;
    }

    .cm-client-img-container {
        width: 80%;
        margin: 0 auto;
        display: flex;
    }
    
    .cm-client-img-container img {
        width: 33.33%;
        height: 264px;
    }

}


@media(max-width: 991px) {

    .cm-banner-container .cm-skew-bg {
        width: 60%;
    }

    .cm-alexa-img {
        right: 0;
        bottom: 50px;
    }

    .cm-alexa-img img {
        height: 58vh;
    }

    .circle-ripple {
        width: 12.5px;
        height: 12.5px;
        transform: translateY(21px);
    }

    .cm-timeline-section h1,
    .cm-thoughts-section h2,
    .cm-client1-section h2 {
        font-size: 50px;
        margin: 0;
    }

    .cm-timeline-section {
        padding: 50px 15px;
    }

    .cm-voice-content h3 {
        font-size: 23px;
    }

    .cm-voice-content {
        font-size: 18px;
    }

    .cm-voice-brand-container p {
        font-size: 20px;
    }

    .cm-alexa-container {
        left: -1%;
        bottom: 40px;
    }

    .cm-conv-section .cm-conv-btn {
        right: 23%;
    }

    .cm-client-img-container {
        display: block;
    }

    .cm-client-img-container img {
        height: auto;
        margin-bottom: 15px;
    }

    .cm-banner-container .cm-banner-content h1 {
        font-size: 55px;
    }

    .cm-banner-container .cm-banner-content {
        padding-top: 100px;
    }

    .cm-client-section .cm-client-content {
        text-align: center;
    }

}

@media(max-width: 850px) {

    .cm-banner-container .cm-banner-content h1 {
        font-size: 48px;
    }
    
    .cm-voice-container .cm-right-inner .cm-alexa-mid img {
        width: 240px;
    }
    
    .cm-voice-container .cm-right-inner .cm-alexa-mid {
        left: -16%;
    }
    
    
    
    .cm-voice-container .cm-left-col img, 
    .cm-voice-container .cm-left-col h2 {
        float: none;
    }
    
    .cm-voice-section .cm-voice-container {
        min-height: unset;
    }
    
    .cm-voice-brand-container p {
        margin: 0;
        font-size: 18px;
    }
    
    .cm-voice-brand-container {
        align-items: flex-start;
    }
    
    .cm-voice-brand-container .cm-voice-brand-content {
        margin-top: 50px;
    }
    
    .cm-voice-brand-bg {
        min-height: 340px;
    }
    
    .cm-timeline-section h1, 
    .cm-thoughts-section h2, 
    .cm-client1-section h2 {
        font-size: 45px;
    }

    .cm-voice-brand-quote h3 {
        font-size: 28px;
    }

    .cm-banner-content > img {
        left: 10px;
    }

    .cm-chatbox-container {
        width: 60%;
    }
}

@media(max-width: 767px) {

    .cm-voice-brand-quote h3 {
        font-size: 28px;
    }
    
    .cm-thoughts-inner .cm-col p {
        max-width: 80%;
    }
    
    .cm-client1-content p {
        width: 80%;
    }
    
    .cm-banner-container .cm-skew-bg {
        width: 100%;
        transform: none;
        left: 0;
    }
    
    .cm-banner-content > img {
        left: 50%;
        transform: translateX(-50%);
    }
    
    .cm-voice-section .cm-voice-container {
        display: block;
    }
    
    .cm-voice-container .cm-left-col {
        width: 100%;
    }
    
    .cm-voice-container .cm-left-col img, 
    .cm-voice-container .cm-left-col h2 {
        margin: 0 auto;
    }
    
    .cm-left-inner {
        text-align: center;
    }
    
    .cm-voice-container .cm-left-col h2 {
        width: 100%;
        padding: 0;
    }
    
    .cm-voice-section .cm-skew-bg {
        width: 100%;
        right: 0;
        transform: none;
    }
    
    .cm-voice-container .cm-right-col {
        width: 100%;
        margin-top: 50px;
        color: #fff;
    }
    
    .cm-voice-container .cm-right-inner .cm-alexa-mid {
        left: 0;
    }
    
    .cm-voice-brand-bg {
        margin: 0 auto;
        min-height: 260px;
    }
    
    .cm-voice-brand-container .cm-voice-brand-content {
        width: 100%;
        padding: 0;
        margin-top: 0;
    }
    
    .cm-voice-brand-container {
        display: block;
    }
    
    .cm-voice-brand-quote {
        max-width: 90%;
        margin: 30px auto;
    }
    
    .cm-quote-bg {
        left: 0;
        top: -50px;
    }
    
    .cm-quote-bg.invert {
        bottom: 70px;
        right: 10px;
    }
    
    .cm-voice-brand-quote h3 {
        font-size: 25px;
    }
    
    .cm-voice-brand-quote p {
        font-size: 20px;
    }
    
    .cm-alexa-container img {
        height: 300px;
    }
    
    .cm-thoughts-inner .cm-col {
        width: 100%;
        float: none;
        display: block;
    }
    
    .cm-thoughts-inner {
        display: block;
    }
    
    .cm-desktop {
        display: none !important;
    }
    
    .cm-mobile {
        display: block !important;
    }
    
    .cm-thoughts-inner .cm-col .cm-thought-item {
        padding-bottom: 20px;
    }
    
    .cm-timeline-section h1, 
    .cm-thoughts-section h2, 
    .cm-client1-section h2 {
        font-size: 35px;
        letter-spacing: none;
    }
    
    .cm-client-section .cm-client-content {
        display: block;
    }
    
    .cm-client-content h2 {
        font-size: 35px;
        padding: 0;
    }
    
    .cm-client-service .cm-service-item {
        width: 100%;
        padding-top: 20px;
    }
    
    .cm-client-service .cm-service-item:before {
        content: none;
    }
    
    .cm-client-service {
        width: 100%;
    }
    
    .cm-client-img-container {
        width: 100%;
    }

    .cm-timeline-container .cm-timeline-item {
        float: none;
        width: 100%;
        margin: 0;
        display: flex;
        margin-bottom: 40px;
        align-items: center;
    }

    .cm-timeline-container .cm-timeline-item:last-child {
        margin-bottom: 0px;
    }
    
    .cm-timeline-item .cm-timeline-img {
        width: 50%;
    }
    
    .cm-timeline-item .cm-timeline-content {
        width: 50%;
    }

    .cm-chatbox-container {
        width: 80%;
    }

    .conv-active .animation-container {
        left: 70px;
    }

    .cm-conv-section .cm-conv-btn {
        bottom: 50%;
        right: 20%;
    }

}


@media(max-width: 630px) {

    .cm-alexa-img img {
        height: 300px;
    }
    
    .cm-alexa-img {
        bottom: unset;
        top: 130px;
        left: 50%;
        transform: translateX(-50%);
        right: unset;
    }
    
    .cm-banner-container .cm-banner-content {
        align-items: flex-end;
    }
    
    .cm-banner-container .cm-banner-content h1 {
        width: 100%;
        padding: 0 15px 0px;
    }
    
    .cm-voice-container .cm-right-inner .cm-alexa-mid {
        position: static;
        transform: none;
        text-align: center;
    }
    
    .cm-voice-content {
        padding: 10px 15px 0;
    }
    
    .cm-voice-brand-bg {
        min-height: 200px;
    }
    
    .cm-conv-section .cm-conv-btn {
        right: 70px;
        bottom: 35%;
    }
    
    .cm-client1-content p {
        width: 100%;
    }
    
    .cm-client-img-container img {
        display: block;
        margin: 0 auto 15px;
    }

    .cm-chatbox-container {
        padding: 0 15px;
        width: 100%;
    }

    #back-to-top {
        bottom: 51px;
    }    

}

@media(max-width: 500px) {

    .cm-voice-brand-quote h3 {
        font-size: 20px;
    }
    
    .cm-voice-brand-quote {
        margin: 50px auto 30px;
    }
    
    .cm-quote-bg.invert {
        bottom: 50px;
    }
    
    .cm-conv-section .cm-conv-btn {
        right: 30px;
    }

    .cm-client-img-container img {
        width: 100%;
    }

    .cm-banner-container .cm-banner-content h1 {
        font-size: 40px;
        padding-bottom: 20px;
    }

    #back-to-top {
        bottom: 70px;
    }

}


@media(max-width: 450px) {

    .cm-voice-brand-quote h3 {
        font-size: 20px;
    }
    
    .cm-voice-brand-quote {
        margin: 50px auto 30px;
    }
    
    .cm-quote-bg.invert {
        bottom: 50px;
    }
    
    .cm-conv-section .cm-conv-btn {
        right: 30px;
    }
    
    .cm-client-img-container img {
        width: 100%;
    }
    
    .cm-banner-container .cm-banner-content h1 {
        font-size: 40px;
        padding-bottom: 20px;
    }
    
    .cm-timeline-content .cm-timeline-year {
        font-size: 27px;
    }
    
    .cm-timeline-content h2 {
        font-size: 25px;
    }
    
    .cm-conv-section .cm-chatbox-bg {
        float: none;
        margin: 0 auto;
    }
    
    .cm-conv-section .cm-conv-btn {
        left: 50%;
        transform: translateX(-50%);
        right: unset;
        bottom: 107px;
    }
    
    .cm-alexa-container {
        left: 50%;
        transform: translateX(-50%);
    }
    
    .cm-timeline-section h1, 
    .cm-thoughts-section h2, 
    .cm-client1-section h2 {
        font-size: 30px;
    }
    
    .cm-client1-content p {
        font-size: 18px;
    }

}

@media(max-width: 320px) {

    .cm-chatbox-container .cm-chatbox-msg {
        width: 100%;
    }
    
    .cm-chatbox-msg .line {
        font-size: 16px;
    }

}